
<launch>
    <arg name="icp_config"/>
    <arg name="working_directory" default="$(env PWD)" />

    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch">
        <param name="frequency" value="10" />
    </include>

    <node name="cloud_matcher" pkg="pointmatcher_ros" type="matcher_service" >
      <param name="config" type="str" value="$(arg icp_config)" />
    </node>
    <node name="command_repeater" pkg="husky_trainer" type="command_repeater">
        <param name="input" value="/teach_repeat/desired_command" />
        <param name="output" value="/joy_teleop/cmd_vel" />
    </node>
    <node name="repeat_node" pkg="husky_trainer" type="repeat" output="screen">
        <param name="working_directory" value="$(arg working_directory)" />
        <param name="readings_topic" value="/velodyne_points" />
        <param name="_lambda_x" value="2.0" />
        <param name="_lambda_y" value="1.0" />
        <param name="_lambda_t" value="0.5" />
    </node>
</launch>
